.category-card {
  height: 200px;
  background-color: #333333;
  color: white;
  margin: 20px 0 20px 0;

    h3 {
      font-size: 20px;
      font-weight: bolder;
      padding-top: 7px;
    }
}

.category-card-image {
  width: 100%;
}

.category-card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background: black;
    opacity: 0;
}
