.category-card {
  border-radius: 5px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
  background-color: $brand-color;
  opacity: 0.8;
  margin: 0 auto 20px;
  padding: 50px 10px;
  color: white;
  margin: 20px 0 20px 0;
  height: 300px;

    h3 {
      font-size: 20px;
      font-weight: bolder;
      padding-top: 7px;
    }
}

.category-card-image {
  width: 100px;
}

.category-card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    text-decoration: none;
    font-style: bolder;
    color: $yellow;
    // z-index: 2;
    // background: black;
    // opacity: 0;
}

.category-card-link:hover {
  text-decoration: none;
  color: $red;
  }
