.dashboard-frame {
  background: $brand-color-rgba;
  width: 100%;
  border-radius: 4px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
  color: white;
  padding: 10px;
  margin: 10px 10px 100px 10px;
}

.dashboard-card {
  border-radius: 5px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
  background-color: $brand-color;
  opacity: 0.9;
  padding: 10px 10px;
  color: white;
  height: 270px;
  position: relative;
  margin-bottom: 28px;
}

.dashboard-category {
  width: 50px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.card-left {
  width: 80%;
  text-align: left;
  padding-left: 10px;
  position: relative;
}

#left-title {
  height: 74px;
}

#kisses {
  position: absolute;
  bottom: 8px;
  left: 10px;

}

#booking-status{
  position: absolute;
  bottom: 8px;
  right: 10px;
}


.button-lovee-i-did-it {
  border: 1.5px solid #2D4059;
  border-radius: 50px;
  transition: all 0.7s ease;
  background: $red;
  color: $yellow;
  width: 200px;
  padding: 5px 15px;
  font-size: 18px;
}

.inner-padding {
  padding: 5px 70px;
}

.top-margin-for-done {
  margin-top: 15px;
}

#waiting {
    background: $yellow;
    width: 200px;
    color: $brand-color;
    margin: 10px auto;
}

#completed {
  background: #70A8C5;
  width: 200px;
  color: white;
  margin: 10px auto;
}

.button-lovee-i-did-it:hover {
  opacity: 1;
  border: 1.5px solid $red;
  text-decoration: none;
  color: $red;
  background: white;
  text-decoration: none;
}

// flipcard

.flip {
  -webkit-perspective: 800;
    perspective: 800;

    position: relative;
    text-align: center;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
    transform: rotatey(-180deg);
}
.flip .card {

  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
  cursor: pointer;
}
.flip .card .face {

  -webkit-backface-visibility: hidden ;
    backface-visibility: hidden ;
  z-index: 2;

}
.flip .card .front {
  position: absolute;
   width: 100%;
  z-index: 1;

}
.flip .card .back {
  -webkit-transform: rotatey(-180deg);
    transform: rotatey(-180deg);
}

.inner{
  margin:0px !important;
}
