/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

body {
}

.padded {
  padding: 25px;
}

.wrapper-lovee {
  background: $brand-color;
  color: white;
}

.wrapper-lovee h2 {
  font-weight: lighter;
  font-size: 50px;
}

.icons-size {
  font-size: 100px;
  margin-top: -31px;
}

.lovee-icon {
  color: $red;
}

.lovee-color{
  color:#2D4059;
}


.justify {
  padding:50px;
  padding-bottom: 0px;
  padding-top: 0px;
}
 /* Banner design */

.nav-and-banner-container {
  background-image: linear-gradient(to right, rgba(255,216,155,0.6) 0%, rgba(25,84,100,0.6) 100%), url(banner1.jpg);
  height: 100vh;
  background-size: cover;
}

.banner {
  color: #2D4059 ;
  text-align: center;
  // height: calc(100vh - 70px);
  // background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 150px;

}
.banner h1 {
  font-family: $base-font;
  font-size: 100px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner h2 {
  font-family: $base-font;
  font-size: 60px;
  font-weight: bold;
}

.banner p {
  font-family: $base-font;
  font-size: 35px;
  color: white;
  margin-bottom: 0px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.about {
  padding: 45px;
  background-color: #fce8c9;
// background: #ffd89b; /* fallback for old browsers */
// background: -webkit-linear-gradient(to left, #ffd89b , #19547b); /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to left, #ffd89b , #19547b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.about h2 {
  color: $brand-color;
  font-size: 40px;
}

.about p {
  color: $brand-color;
}


.motto {
  color: white ;
  font-weight: bold;
  background: $brand-color; /* fallback for old browsers */
  // background: -webkit-linear-gradient(to left, #ffd89b , #19547b); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to left, #ffd89b , #19547b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 25px 0;
}
