body {
  background-image: linear-gradient(to right, rgba(255,216,155,0.6) 0%, rgba(25,84,100,0.6) 100%), url(banner1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

