.lovee-message {
  border-radius: 5px;
  color: white;
  font-family: $base-font;
  border-color: white;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 15px;
  opacity: 0.8;
  background-color: $brand-color;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.3);
  min-height: 220px;
}

.send-message {
  padding: 15px;
  margin-bottom: 10px
}

.name {
font-family: 'Lobster';
color: $yellow;

}
