<div class="btn-group dropup">
  <button type="button" class="btn btn-default">Menu</button>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Stuff 1</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Stuff 2</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Stuff 3</a></li>
  </ul>
</div>
