<div class="text-center">
  <h1 class="title">Let's play</h1>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="play-card">
          <%= link_to "Earn kisses", categories_path, class: "button-lovee btn" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="play-card">
          <%= link_to "Spend kisses", request_challenge_path, class: "button-lovee btn" %>
        </div>
      </div>
    </div>
  </div>
</div>




