<div class="text-center">
  <h1>Your room</h1>
  <h2>Offer a challenge</h2>
  <%= link_to "Give me a challenge!", categories_path %>

  <div class="play-card">

  </div>

  <h2>Request a challenge</h2>
  <%= link_to "I want my GF to do a challenge for me!", request_challenge_path %>
</div>




