<div class="text-center">
  <h1 class="title">Let's play
    <% if current_user && current_user.partner && current_user.partner. first_name %>
      with <span id="play-name"> <%= current_user.partner.first_name %></span>
    <% end %>
  </h1>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="play-card">
          <%= link_to "Win kisses", categories_path, class: "button-lovee btn" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="play-card">
          <%= link_to "Spend your kisses", new_spend_booking_path, class: "button-lovee btn" %>
        </div>
      </div>
    </div>
  </div>
</div>




