
<div class="text-center">
  <h1 class="title">Here is the Gurus of LoVee world</h1>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
      <div class="play-card ">
          <h3 class="yellow-text"> Stan "the Man "</h3>
          <p class="red-text"> favorite LoVee quote : </p>
      </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="play-card">
          <h3 class="yellow-text"> Debster "the Webster "</h3>
          <p class="red-text"> favorite LoVee quote : </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
       <div class="play-card">
         <h3 class="yellow-text"> Jose "the Bae "</h3>
         <p class="red-text"> favorite LoVee quote : </p>
       </div>
       </div>
     </div>
   </div>
 </div>
 </div>
