
<div class="text-center">
  <h1 class="title">Here is the Gurus of LoVee world</h1>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
      <div class="play-card ">
          <h3 class="yellow-text"> Stan "the Man "</h3>
          <p class="red-text"> Favorite LoVee quote : "All, everything that I understand, I only understand because I love." </p>
      </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="play-card">
          <h3 class="yellow-text"> Debster "the Webster "</h3>
          <p class="red-text"> Favorite LoVee quote : "In order to be happy oneself it is necessary to make at least one other person happy." </p>
        </div>
      </div>
     </div>
   </div>
 </div>
 </div>
