<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
      <div class= "card" >
        <div class=" text-center text-align lovee-message">
          <h2 class="heading-yellow"> Yay!</h2>
          <br>
          <p> <strong> LoVee </strong> has selected a challenge for your partner in the category <%= @category.name %>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
