// Your footer style
//
.footer {
  background: #2D4059;
  padding: 30px 0;
  color: white;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.footer ul {
  margin-top: 10px;
}
.footer a {
  color: white;
  font-size: 30px;
  letter-spacing: 20px;
  transition: color 0.5s ease;
}
.footer .list-unstyled a {
  color: white;
  transition: color 0.5s ease;
  font-size: 15px;
  letter-spacing: 0px;
}
.footer a:hover{
  color: #FF936F;
}
.footer p {
  margin-top: 17px;
}

@media (max-width: $screen-sm) {
  .footer-copyright {
    text-align: center;
  }
  .list-inline, .list-unstyled {
    text-align: center;
  }

}
