// Your footer style
//
.footer {
  background: #2D4059;
  padding: 10px 15px;
  color: white;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  // display: flex;
  // justify-content: center;
  // align-items: center;

}
#icons-list {
  margin-top: 17px;
}

#links-list {
  margin-top: 10px;
  margin-bottom: 2px;
}
.footer a {
  color: white;
  font-size: 30px;
  letter-spacing: 20px;
  transition: color 0.5s ease;
  text-decoration: none;
}
.footer .list-unstyled a {
  color: white;
  transition: color 0.5s ease;
  font-size: 15px;
  letter-spacing: 0px;
}
.footer a:hover{
  color: #FF936F;
}
.footer-copyright {
  padding-top: 25px;
}

@media (max-width: $screen-sm) {
  .footer-copyright {
    text-align: center;
  }
  .list-inline, .list-unstyled {
    text-align: center;
  }

}
