.wrapper-body {
  min-height: 72vh;
}

body {
  background-image: linear-gradient(to right, rgba(255,216,155,0.6) 0%, rgba(25,84,100,0.6) 100%), url(image_path("banner1.jpg"));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  font-size: 26px;
  font-weight: bolder;
  color: $brand-color;
  padding: 20px 0 40px;
}

.heading-blue {
  font-size: 45px;
  color: $brand-color;
  font-family: 'Lobster'
}

.heading-yellow {
  font-size: 30px;
  color: $yellow;
  font-family: 'Lobster';
  margin-top: 2px;
}

.subheading {
  font-size: 25px;
  font-weight: bolder;
  color: $brand-color;
}

.yellow-text {
  font-size: 18px;
  color: $yellow;
  margin-top: 5px;
}

.red-text {
  color: $red;
}

.marginized {
  margin: 10px;
}

