.wrapper-body {
  min-height: 79vh;
}

body {
  background-image: linear-gradient(to right, rgba(255,216,155,0.6) 0%, rgba(25,84,100,0.6) 100%), url(image_path("banner1.jpg"));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  font-size: 26px;
  font-weight: bolder;
  color: $brand-color;
  padding: 20px 0 40px;
}

.heading-blue {
  font-size: 30px;
  color: $brand-color;
  font-family: 'Lobster'
}

.heading-yellow {
  font-size: 30px;
  color: $yellow;
  font-family: 'Lobster';
  margin-top: 2px;
}

.challenge-heading{
  font-size: 25px;
  color: $red;
  font-family: 'Lobster';
  margin-top: 2px;
}

.subheading {
  font-size: 25px;
  font-weight: bolder;
  color: $brand-color;
}

.yellow-text {
  font-size: 18px;
  color: $yellow;
  margin-top: 5px;
}

.red-text {
  color: $red;
}

.marginized {
  margin: 10px;
}

a {
  text-decoration: none;
  color: $yellow;
  transition: 0.3s ease;
}

a:hover {
  text-decoration: none;
  color: $red;
}

.aligner {
  padding: 18px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

@media (max-width: $screen-sm) {
  .left {
    text-align: center;
  }
  .right {
    text-align: center;
  }
}

.top {
  height: 70px;
}


