/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: $yellow;
  border-color: $yellow;
}
.alert-info {
  background: $brand-color;
  border-color: $brand-color;
}
.alert-warning {
  background: $red;
  border-color: $red;
}
