.button-lovee {
  color: #2D4059;
  font-size: 40px;
  border: 1.5px solid #2D4059;
  padding: 15px 25px 15px 25px;
  border-radius: 50px;
  font-weight: bolder;
  transition: all 0.7s ease;
  background: 0;
  margin-bottom: 10px;
  &-small {
    font-size: 23px;
    margin: 2px;
  }
  &-modal {
    font-size: 18px;
    font-weight: lighter;
    padding: 8px 15px;
  }
  &-modal:hover {
    background: white;
  }

  &-devise {
    color: $yellow;
    margin-top: 25px;
    border: 1.5px solid $yellow;
    font-size: 18px;
    font-weight: lighter;
    padding: 8px 15px;
    background: 0;
  }
  a {
    text-decoration: none;
    color: $yellow;
    transition: all 0.7s ease;
  }
  a:hover {
    color: $red;
  }
}

#devise-login {
  font-size: 25px;
  margin-top: 5px;
}

#invite:hover {
  background:white;
}

#back:hover {
  background: rgba(255, 255, 255, 0.5);
}

#dash-btns:hover {
  background: rgba(255, 255, 255, 0.5);
}

#good-luck {
  color: $yellow;
  margin-top: 15px;
  border: 1.5px solid $yellow;
  font-size: 30px;
  font-weight: lighter;
  padding: 8px 15px;
  background: 0;
}

#good-luck:hover {
  color: $red;
  border-color: $red;
}

.gender-btn:hover {
    background-color:white !important;
  }

.button-lovee:hover {
  opacity: 1;
  border: 1.5px solid $red;
  text-decoration: none;
  color: $red;
  background: 0;
}

