.button-lovee {
  color: #2D4059;
  font-size: 40px;
  border: 1.5px solid #2D4059;
  padding: 15px 25px 15px 25px;
  border-radius: 50px;
  font-weight: bolder;
  transition: all 0.7s ease;
  background: 0;
  margin-bottom: 10px;
  background: $yellow-rgba-light;
  &-small {
    font-size: 23px;
    margin: 2px;
  }
}

.button-lovee:hover {
  opacity: 1;
  border: 1.5px solid $red;
  text-decoration: none;
  color: $red;
}
