.lovee-modal{
padding: 15px;
background-color: $red-rgba;
color: #2D4059;
border-radius: 6px;
}

.lovee-modal h3 {
font-weight: bold;
}

.button-rules:hover {
  opacity: 1;
  border: 1.5px solid $red;
  text-decoration: none;
  color: $red;
  background-color: white;
}

.gender-list {
display: flex;
align-item: center;
justify-content: center;

}
